:root {
  --black: #2f3740;
  --grey: #586069;
  --teal: #009688;
  --light-grey-1: #6a737d;
  --light-grey-2: #e1e4e8;
  --font-familly: Ubuntu Regular;
  --transition--generic: 0.2s all ease-in-out;
  --none: none;
}

@font-face {
  font-family: Ubuntu Regular;
  font-display: swap;
  src:
    local(Ubuntu),
    url('../font/Ubuntu-R.ttf') format('opentype');
}

body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

input[type="radio"] {
  margin: 0 8px 0 0;
}

input[type="radio"] + label, 
input[type="radio"] {
  cursor: pointer;
}

a, p, span, h1, h2, h3,
h4, h5, h6 {
  margin: 0;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  transition: var(--transition--generic);
}

a:hover {
  text-decoration: underline;
  transition: var(--transition--generic);
}

a:active {
  transition: var(--transition--generic);
}

#app {
  width: 100%;
  margin: auto;
  font-family: Ubuntu Regular;
}

#app.theme--light a {
  color: #2f3740;
  text-decoration-color: #2f3740;
}

#app.theme--light a:hover {
  text-decoration-color: #2f3740;
}

#app.theme--light a:active {
  text-decoration-color: #6a737d;
}

.personal-information__list {
  margin: 46px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.address {
  font-style: normal;
}

.address__list-item {
  display: block;
}

.address__list {
  margin: 0;
  padding: 0;
  list-style-type: non;
}

.complementary-courses {
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  list-style-type: non;
  padding: 0;
}

.complementary-courses__item-title {
  max-width: 264px;
}

.complementary-courses__item {
  padding: 12px;
  width: calc(33% - (12px * 2));
}

.complementary-courses__item:not(:last-child):not(:first-child) {
  border-left: 1px solid #e1e4e8;
  border-right: 1px solid #e1e4e8;
}

@media screen and (max-width: 800px) {
  .complementary-courses__item-title {
    max-width: 320px;
  }

  .complementary-courses__item {
    width: 100%;
  }

  .complementary-courses__item:not(:last-child):not(:first-child) {
    border-left: non;
    border-right: non;
  }

  .complementary-courses__item:not(:last-child) {
    border-bottom: 1px solid #e1e4e8;
    border-left: non;
  }
}

.professional-interests__quote {
  padding: 52px 0;
  max-width: 590px;
  line-height: 44px;
}

.warning__text {
  max-width: 430px;
}

.flex {
  display: flex;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.section,
.header {
  margin: auto;
  max-width: 904px;
  padding: 56px;
}

.header {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .section,
  .header {
    padding: 42px;
  }
}

.theme-control__title {
  font-size: 1.2em;
}

.theme-control__input {
  padding: 6px 12px 12px 0;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .header {
    display: block;
  }

  .header__heading {
    width: 100%;
  }

  .theme-control {
    margin-top: 32px;
  }

  .theme-control__controllers {
    display: flex;
    align-items: center;
  }
}

.section--border-bottom,
.header--border-bottom {
  border-bottom: 1px solid #e1e4e8;
}

.subsection {
  margin: auto;
  padding: 38px 0 0 0;
}

.header--light-border-bottom:last-child {
  border-bottom: non;
}

.theme--light {
  transition: var(--transition--generic);
}

.theme--dark {
  transition: var(--transition--generic);
}

.table__row-text {
  padding: 12px 24px 12px 0;
}


.table__col-title {
  text-align: left;
  padding: 18px 18px 18px 0;
  border-bottom: 1px solid #e1e4e8;
}

h1 {
  font-size: 52px;
  font-weight: 300;
  letter-spacing: -.03em;
  line-height: 1.12;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 38px;
  font-weight: 400;
  letter-spacing: -.02em;
  line-height: 1.35;
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 38px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 48px;
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 28px
  }
}

h4 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 40px;
}

@media screen and (max-width: 767px) {
  h4 {
    font-size: 22px;
  }
}

h5 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 32px;
}

@media screen and (max-width: 767px) {
  h5 {
    font-size: 16px;
  }
}

h6 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .02em;
  line-height: 1.12;
}

@media screen and (max-width: 767px) {
  h6 {
    font-size: 18px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.3s;
}
